@import "vars";

.overlay-title {
    margin-left: 1.5rem;
}

.overlay-text {
    padding: 2rem 10%;;
    // overflow-y: auto;
    text-align: justify;
    
}

.overlay h1{
    margin-left: 0.5rem;
}

.image-container {
    // margin: 1rem;
    height: 90vh;
    width: calc(100vw - 2rem);
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
}

.overlay-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.close-button {
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    cursor: pointer;
    i{
        font-size: 30px !important;
    }    
}

@media only screen and (max-width: 600px) {
    .image-container {        
        height: 50vh;       
    }
}